{
  "linters": {
    "*.js": ["eslint --fix", "eslint --max-warnings=0", "git add"],
    "**/*.+(js|mdx?|ts|css|sass|less|graphql|yml|yaml|scss|json|vue)": [
      "prettier --write", "git add"
    ]
  }
}